@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: linear-gradient(45deg,#f1f1f1);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0,o.15);
    width: 300px;
}

input{
    /* width: 100%; */
    border: none;
    padding: 15pxpx;
    margin-bottom: 15px;
    background: #e7e7e7;
    /* box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1); */
    font-size: 32px;
    text-align: right;
    cursor: pointer;
    border-radius: 10px;
    color: #444;
}

input::placeholder{
    /* color: #ffffff; */
    width: 60px;

}

.buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }

    .btn {
      font-size: 24px;
      padding: 20px;
      border: none;
      border-radius: 10px;
      background-color: #f0f0f0;
      cursor: pointer;
      transition: 0.2s;
    }

    .btn:hover {
      background-color: #dcdcdc;
    }

    .clear {
      background-color: #f56c6c;
      color: white;
    }

    .operator {
      background-color: #f4c542;
      color: white;
    }

    .equals {
      background-color: #4caf50;
      color: white;
      grid-column: span 2;
    }
